<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="daoSLPH.Properties.Settings.SoLieuPhatHanhConnectionString"
            connectionString="Data Source=10.10.200.167;Initial Catalog=SoLieuPhatHanh;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="daoSLPH.Properties.Settings.SoLieuPhatHanhConnectionString1"
            connectionString="Data Source=10.10.200.167;Initial Catalog=SoLieuPhatHanh;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
