<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="daoSLCT.Properties.Settings.SoLieuChiTietConnectionString"
            connectionString="Data Source=10.10.200.167;Initial Catalog=SoLieuChiTiet;Persist Security Info=True;User ID=LayDuLieu"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>