<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="daoKeToanSoDu.Properties.Settings.KeToanSoDuConnectionString"
            connectionString="Data Source=10.10.200.167;Initial Catalog=KeToanSoDu;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="daoKeToanSoDu.Properties.Settings.KeToanSoDuConnectionString1"
            connectionString="Data Source=10.10.200.167;Initial Catalog=KeToanSoDu;User ID=BaoCaoSL"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>