<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SoLieuPhatHanhConnectionString" connectionString="ilUgqeMjC3f9stRS2Izr1w/rMBpKLFdP1A+p+SPyn0qAHENM7JBPwLQcLyvw9og93EbBs8bNwoXObvP13PR7gKTLi5U1NN2DT7i56vPLwwN7tJlKN6CEJfooClPfxXDrjGoAwKr6jqk=" providerName="System.Data.SqlClient" />
    <add name="SoLieuChiTietConnectionString" connectionString="2dyWGkXLZeFfUtt+EC4VKcVk6m26J7tkAHxlqD11CLBd28ksFULJhG68juyKt2H3Y2lnpeSjIpgaIp+1y6egtti+16TgCuPC4dly9/Q7jqw6R1QCYbpGS20dowqxYkNg0tq4qQVshcI=" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ThoiGianChay" value="30" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>